@font-face {
  font-family: 'footable';
  src: url('fonts/footable.eot?#iefix') format('embedded-opentype'),
  url('fonts/footable.woff') format('woff'),
  url('fonts/footable.ttf') format('truetype'),
  url('fonts/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}
